.btn{
  width: 300px;
  height: 50px;
  line-height: 50px;
  background-color: $smoothGrey;
  border-radius: 8px;
  color: #fff;
  padding: 0.675rem 0.75rem !important;
  font-size: 1.9rem !important;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px $dark-grey;
  &:hover{
    background-color: transparent;
    border: 2px solid $smoothGrey;
  //  color: $appleblue;
    font-weight: 800;
    box-shadow: none;
  }
}


