@import "variables";
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Handlee:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes:300,400,600");
$shadow: 'Shadow', serif;
$handlee: 'Handlee', serif;
$Chalky: 'Great Vibes', serif;
#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: .5rem;
  height: 100vh;
  margin: 0;

  background:  #ccc;
}

.grid-item {
  height: 32vh;
  overflow: hidden;
  border: 5px solid white;
}


.grid-item__media {
  @extend .grid-item;

  //object-fit: cover;
  img {
    object-fit: cover;
    height: 32vh;
  }
}

// quote
.quote{

  border-left: 10px solid #ccc;
  margin: 0 10px;
  padding: 1em 10px;
  background: #e6a27f;

  &:before{
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  &:after{
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  .col{
    display: inline;
    padding: 5%;

  }
  h1, p{
    text-align: center;
    line-height: normal;

    font-family: $shadow;
color: white;
  }
  p{
    font-size: 21px;
    line-height: 27px;
    text-shadow: 2px 2px 2px #7E5946;
  }
}
// Text
.text, .menu{
  padding: 1em 10px;
  text-align: center;
}
.text{
  background: #F2C14E; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #F2C14E, #F78154); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #F2C14E, #F78154); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F2C14E, #F78154); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #F2C14E, #F78154); /* Standard syntax */
}
.text h1{
  padding-top: 5%;
}
.text p{
 padding: 5% 20%;
  font-size: 16px;
  font-weight: 500;
}
// Menu

.menu{
  background-image: url("../../../public/img/backgound1.jpg");
}
.menu h1{
  text-decoration: underline ;
  font-family: $Chalky;
  color: white !important;
  font-size: 5rem;
}
.menu-inline{
padding: 1% 0;
  font-family: $handlee;
  color: white !important;
  font-size: 2.9rem;
}
// COLUMN START

.grid-item[data-column-start="1"] {
  grid-column-start: 1;
}

.grid-item[data-column-start="2"] {
  grid-column-start: 2;
}

.grid-item[data-column-start="3"] {
  grid-column-start: 3;
}

// COLUMN END

.grid-item[data-column-end="2"] {
  grid-column-end: 2;
}

.grid-item[data-column-end="3"] {
  grid-column-end: 3;
}

.grid-item[data-column-end="4"] {
  grid-column-end: 4;
}


// ROW START

.grid-item[data-row-start="1"] {
  grid-row-start: 1;
}

.grid-item[data-row-start="2"] {
  grid-row-start: 2;
}

.grid-item[data-row-start="3"] {
  grid-row-start: 3;
}

// ROW END

.grid-item[data-row-end="2"] {
  grid-row-end: 2;
}

.grid-item[data-row-end="3"] {
  grid-row-end: 3;
}

.grid-item[data-row-end="4"] {
  grid-row-end: 4;
}