.row{
  margin:0 !important;
}
.intro{
  padding: 10% 0;
}

.landingsfoto{

  height: 60%;
}

.presentation{
  height: 650px;
  background: 25% 55% no-repeat url(../../../public/img/alcoholbar.jpg);
  @media screen and  (max-width: $small) {
margin-top: 8%;
  }
}

.callToAction{
  height: 74%;
  width: 35%;
  background-color: $grey;
  opacity: 0.9;
  padding: 2%;
  margin: 4.5% 28%;
  @media screen and (min-width: $large) and (max-width: $extraLarge) {
    height: 88%;
  }
  @media screen and (min-width: $medium) and (max-width: $large) {
   height: 75%;
    margin: 16% 28% 4% 28%;
  }
  @media screen and  (max-width: $small) {
 margin: 16.5% 1%;
    padding: 4% ;
  }
  h4{
    color: $dark-grey;
    margin:0 0 25px 0;

    text-align: center;
    font-size: 22px ;
    font-weight: bold;
  }
  .logo-inline{
    width: 35%;
    @media screen and (min-width: $large) and (max-width: $extraLarge) {
      width: 45%;
    }
    @media screen and (min-width: $medium) and (max-width: $large) {
      display: none;
    }
    @media screen and  (max-width: $small) {
      display: none;
    }
  }
  .btn-container{
    .btn{
      font-size: 1.9rem;
      padding: 0.675rem 0.75rem ;
    }
  }

}


.intromotion{
  height: 500px !important;
  padding-top: 16%;
  margin-bottom:13%;
  @media screen and (min-width: $large) and (max-width: $extraLarge) {
    padding-top: 11%;
  }
  @media screen and (min-width: $medium) and (max-width: $large) {
    margin-bottom: 13% !important;
  }
  @media screen and  (max-width: $small) {
    padding-top: 0;
  }
  .foto{
    height: 100%;
    @media screen and (min-width: $large) and (max-width: $extraLarge) {
      height: 75%;
    }
    @media screen and (min-width: $medium) and (max-width: $large) {
      height: 68%;
      margin-top: 8%;
    }
    @media screen and  (max-width: $small) {
      display: none;
    }
  }
  .intro-text{
    padding-left: 10%;
    margin: 3% 0 2% 0;
    @media screen and (min-width: $medium) and (max-width: $large) {
      padding-left: 6%;
    }
    h1{
      @media screen and (min-width: $medium) and (max-width: $large) {
        font-size: 2.8rem;
      }
    }

  }
}

.features{
  padding: 8% 20%;
  background-color: $grey;
  margin-right: 0 ;
  @media screen and (min-width: $large) and (max-width: $extraLarge) {
    padding: 8%;
  }
  @media screen and (min-width: $medium) and (max-width: $large) {
    padding: 8%;
  }
  @media screen and  (max-width: $small) {
    padding: 8%;
  }
  h2{
    margin-top: 5%;
    padding-bottom: 2%;
  }
  .text-center{
    @media screen and  (max-width: $small) {
      margin-bottom: 9%;
    }
    a.btn{
      &:first-child{
        @media screen and (min-width: $medium) and (max-width: $large) {
          display: none;
        }
      }
      &:last-child{
        display: none;
      }
    }
  }
  .text-main{
    margin:1% 0 5% 0;
    h1{
      font-size: 5rem;
    }


  }
  p{
    color: white;
  }
}