
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$dark-grey: #463f3a;
$grey: #bcb8b1;
$appleblue: #70a9a1;
$green: #7fb800;
$darkerGreen: darken (#7fb800, 20%);
$darkblue: #0d2c54;