@import "variables";
@import "buttons";
@import "grid";
@import "images";
@import "forms";
@import "dashboard";
@import "home";
@import "footer";
@import "auth";
@import '~bootstrap/scss/bootstrap';

ul, li, a{
  text-decoration: none !important;
  list-style-type: none;
}
.navbar{
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  height: 150px;
}
.logo{
  height: 154px;
  width: 45%;
}
.nav-link{
  font-size: 17px;
  font-weight: 600;
  color: $grey;
  &:hover{
    color: $dark-grey;
  }
}
.nav-item{
  padding-right: 15%;
  width: 140px;
}
.error-page{
  min-height: 480px;
  padding-top: 10%;
}





